<div id="zh-recommend">
<div id="zh-recommend-title" class="page-title">
<i class="zg-icon zg-icon-feedlist"></i>
<span>编辑推荐</span>
<a href="/explore/recommendations" class="zg-link-gray zg-right" data-za-c="explore" data-za-a="visit_explore_recommendations" data-za-l="editor_recommendations_more"><span>更多推荐 »</span></a>
</div>
<div id="zh-recommend-list">


<div class="top-recommend-feed feed-item">
<h2><a class="question_link" href="/question/37730133/answer/226027283" target="_blank" data-id="7299385" data-za-element-name="Title">
为什么 NBA 96 年新秀们被称为「黄金一代」？
</a></h2>
<div class="avatar">
<a title="腾讯体育" data-hovercard="p$t$teng-xun-ti-yu" class="zm-item-link-avatar" target="_blank" href="/org/teng-xun-ti-yu">
<img src="https://pic1.zhimg.com/v2-f42daf3d5d9c2628b6be0393bfdc3f44_m.jpg" class="zm-item-img-avatar">
</a>
</div>

<div class="feed-main">
<div class="zm-item-answer-author-info">

<span class="summary-wrapper">
<span class="author-link-line">

<a class="author-link" data-hovercard="p$t$teng-xun-ti-yu" target="_blank" href="/org/teng-xun-ti-yu">腾讯体育</a><span class="OrgIcon sprite-global-icon-org-14" data-tooltip="s$b$已认证的机构"></span></span>
</span>
</div>
<div class="zm-item-rich-text" data-resourceid="7299385" data-action="/answer/content">
<div class="zh-summary summary clearfix">
<img src="https://pic1.zhimg.com/v2-63f6a7898027078cfd33fa0cba268de0_200x112.jpg" data-rawwidth="500" data-rawheight="362" class="origin_image inline-img zh-lightbox-thumb" data-original="https://pic1.zhimg.com/v2-63f6a7898027078cfd33fa0cba268de0_r.jpg">
1996年6月26日，NBA第五十届选秀大会在新泽西东卢瑟福举行，总计有58名球员金榜题名（当时NBA有29支球队）。时光飞逝而过，如今，96一代已经退出NBA的战场，这一届球员成为了经历岁月洗礼印刻青春的经典。在《体育画报》评选中，96一代是NBA历史第二好的选…
</div>
</div>
</div>
</div>




<div class="recommend-feed feed-item">
<span class="zg-right zg-gray-normal feed-meta">问答</span>
<h2><a class="question_link" href="/question/42988311/answer/95232956" target="_blank" data-id="9404016" data-za-element-name="Title">
求一个实心电阻率均匀的电阻球的电阻？
</a></h2>
</div>



<div class="recommend-feed feed-item">

<span class="zg-right zg-gray-normal feed-meta">《法学方法论》读书笔记</span>

<h2><a class="post-link" target="_blank" href="https://zhuanlan.zhihu.com/p/28955731" data-za-element-name="Title">《法学方法论》读书笔记3.5：法律适用的逻辑模式</a></h2>
</div>



<div class="recommend-feed feed-item">
<span class="zg-right zg-gray-normal feed-meta">问答</span>
<h2><a class="question_link" href="/question/21378633/answer/156898943" target="_blank" data-id="732119" data-za-element-name="Title">
如何看待《贩卖希望——积极心理学批判》这篇文章？
</a></h2>
</div>



<div class="recommend-feed feed-item">

<span class="zg-right zg-gray-normal feed-meta">文章</span>

<h2><a class="post-link" target="_blank" href="https://zhuanlan.zhihu.com/p/29048242" data-za-element-name="Title">2017中国大学排行榜</a></h2>
</div>


</div>
</div>